.home_overlay {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  background: radial-gradient(
    circle at center,
    #1e3a5f 0%,
    #0a1a2f 50%,
    #000000 100%
  );
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home_page {
  display: flex;
  margin-top: 100px;
}
